<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.laioffer.dagger2">

  <application
    android:name="com.laioffer.enjoy.demo4_全局单例.app.MyApplication"
    android:allowBackup="true"
    android:icon="@drawable/dagger_icon"
    android:label="@string/app_name"
    android:roundIcon="@drawable/dagger_icon"
    android:supportsRtl="true"
    android:theme="@style/Theme.MyApplication">
    <activity
      android:name="com.laioffer.enjoy.demo3_局部单例.ui.FirstActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.laioffer.enjoy.demo3_局部单例.ui.SecondActivity" />
  </application>

</manifest>